.btn {
  span {
    padding: 8px 16px;
    background: none;
    border-radius: 5px;
    margin: 2px 4px 2px 0;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    display: block;
  }

  &:hover span {
    background: $mint;
    color: $black;
  }

  input {
    display: none;

    &:checked ~ span {
      background: $white;
      color: $charcoal;
    }
  }
}

.btn-small {
  @extend .btn;
  span {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 600;
  }
}

.actions {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

  padding: 8px 32px;
  color: $white;
  background: $charcoal;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  > div {
    display: flex;
    flex-wrap: wrap;
  }

  label, button {
    @extend .btn;
  }

  &--top {
    bottom: auto;
    top: 0;
    justify-content: center;

    label, button {
      @extend .btn-small;
    }
  }
}
